html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: blue;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p,
li {
    letter-spacing: 1px;

}


body {
    width: 600px;
    margin: auto;
    background-color: #FF9500;
    padding: 20px 0;
    border: 5px solid black;
  }
  img {
    display: block;
    margin: 0 auto;
  }